{% extends "layout.html" %} {% block content %}
<header class="section-blog-header">
  <div class="padding-global">
    <div class="container-large">
      <div class="padding-top-header">
        <div class="subtitle-item">
          <div class="subtitle-tag _02">Blog</div>
        </div>
        <h1 class="heading-style-h1 text-align-center">Our Blog</h1>
      </div>
    </div>
  </div>
</header>
<section class="section-blog-content">
  <div class="padding-global">
    <div class="container-large">
      <div class="padding-section-small">
        <div class="w-dyn-list">
          <div role="list" class="blog-component-grid w-dyn-items">
            <div role="listitem" class="w-dyn-item">
              <a data-w-id="ef657e9f-3424-0d15-46f7-67ebbe01c22c" href="/blog/meet-our-amazing-teachers.html" class="blog-link-wrapper w-inline-block">
                <div class="blog-image-wrapper">
                  <img
                    src="/cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6c0fbb16f62e1a1eb40f7_children-doing-practical-work-chemistry-lesson.webp"
                    loading="lazy"
                    style="
                      -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    "
                    alt="Meet Our Amazing Teachers!"
                    sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 44vw, (max-width: 1279px) 45vw, (max-width: 1439px) 46vw, 658px"
                    srcset="
                      /cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6c0fbb16f62e1a1eb40f7_children-doing-practical-work-chemistry-lesson-p-500.webp   500w,
                      /cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6c0fbb16f62e1a1eb40f7_children-doing-practical-work-chemistry-lesson-p-800.webp   800w,
                      /cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6c0fbb16f62e1a1eb40f7_children-doing-practical-work-chemistry-lesson-p-1080.webp 1080w,
                      /cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6c0fbb16f62e1a1eb40f7_children-doing-practical-work-chemistry-lesson.webp        1920w
                    "
                    class="blog-post-image"
                  />
                  <div class="blog-category-wrapper">
                    <div class="blog-post-category">School Life</div>
                  </div>
                  <div class="blog-post-arrow-wrapper">
                    <div class="blog-post-icon-wrap">
                      <div class="blog-post-icon-overflow">
                        <div
                          style="
                            -webkit-transform: translate3d(0rem, 0rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            -moz-transform: translate3d(0rem, 0rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            -ms-transform: translate3d(0rem, 0rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            transform: translate3d(0rem, 0rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                          "
                          class="blog-post-icon _01 w-embed"
                        >
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path>
                          </svg>
                        </div>
                        <div
                          style="
                            -webkit-transform: translate3d(-1rem, 1rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            -moz-transform: translate3d(-1rem, 1rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            -ms-transform: translate3d(-1rem, 1rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            transform: translate3d(-1rem, 1rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                          "
                          class="blog-post-icon _02 w-embed"
                        >
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="blog-post-content">
                  <div class="blog-post-info-item">
                    <div class="text-size-small">Reading Time:</div>
                    <div class="text-size-small text-weight-semibold">7 min</div>
                  </div>
                  <h2 class="blog-post-title">Meet Our Amazing Teachers!</h2>
                </div>
              </a>
            </div>
            <div role="listitem" class="w-dyn-item">
              <a data-w-id="ef657e9f-3424-0d15-46f7-67ebbe01c22c" href="/blog/fun-ways-to-introduce-reading-to-toddlers.html" class="blog-link-wrapper w-inline-block">
                <div class="blog-image-wrapper">
                  <img
                    src="/cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6c055e5784778a1fd0991_woman-drawing-showing-triangle-blackboard-children.webp"
                    loading="lazy"
                    style="
                      -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    "
                    alt="Fun Ways to Introduce Reading to Toddlers"
                    sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 44vw, (max-width: 1279px) 45vw, (max-width: 1439px) 46vw, 658px"
                    srcset="
                      /cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6c055e5784778a1fd0991_woman-drawing-showing-triangle-blackboard-children-p-500.webp   500w,
                      /cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6c055e5784778a1fd0991_woman-drawing-showing-triangle-blackboard-children-p-800.webp   800w,
                      /cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6c055e5784778a1fd0991_woman-drawing-showing-triangle-blackboard-children-p-1080.webp 1080w,
                      /cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6c055e5784778a1fd0991_woman-drawing-showing-triangle-blackboard-children-p-1600.webp 1600w,
                      /cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6c055e5784778a1fd0991_woman-drawing-showing-triangle-blackboard-children.webp        1920w
                    "
                    class="blog-post-image"
                  />
                  <div class="blog-category-wrapper">
                    <div class="blog-post-category">Early Learning</div>
                  </div>
                  <div class="blog-post-arrow-wrapper">
                    <div class="blog-post-icon-wrap">
                      <div class="blog-post-icon-overflow">
                        <div
                          style="
                            -webkit-transform: translate3d(0rem, 0rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            -moz-transform: translate3d(0rem, 0rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            -ms-transform: translate3d(0rem, 0rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            transform: translate3d(0rem, 0rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                          "
                          class="blog-post-icon _01 w-embed"
                        >
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path>
                          </svg>
                        </div>
                        <div
                          style="
                            -webkit-transform: translate3d(-1rem, 1rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            -moz-transform: translate3d(-1rem, 1rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            -ms-transform: translate3d(-1rem, 1rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            transform: translate3d(-1rem, 1rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                          "
                          class="blog-post-icon _02 w-embed"
                        >
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="blog-post-content">
                  <div class="blog-post-info-item">
                    <div class="text-size-small">Reading Time:</div>
                    <div class="text-size-small text-weight-semibold">4 min</div>
                  </div>
                  <h2 class="blog-post-title">Fun Ways to Introduce Reading to Toddlers</h2>
                </div>
              </a>
            </div>
            <div role="listitem" class="w-dyn-item">
              <a data-w-id="ef657e9f-3424-0d15-46f7-67ebbe01c22c" href="/blog/encouraging-early-independence-in-kids.html" class="blog-link-wrapper w-inline-block">
                <div class="blog-image-wrapper">
                  <img
                    src="/cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6bfe47cc112ccdd60ce48_teacher-with-children-looking-screen-lesson%201.webp"
                    loading="lazy"
                    style="
                      -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    "
                    alt=" Encouraging Early Independence in Kids"
                    sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 44vw, (max-width: 1279px) 45vw, (max-width: 1439px) 46vw, 658px"
                    srcset="
                      /cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6bfe47cc112ccdd60ce48_teacher-with-children-looking-screen-lesson%201-p-500.webp   500w,
                      /cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6bfe47cc112ccdd60ce48_teacher-with-children-looking-screen-lesson%201-p-800.webp   800w,
                      /cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6bfe47cc112ccdd60ce48_teacher-with-children-looking-screen-lesson%201-p-1080.webp 1080w,
                      /cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6bfe47cc112ccdd60ce48_teacher-with-children-looking-screen-lesson%201-p-1600.webp 1600w,
                      /cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6bfe47cc112ccdd60ce48_teacher-with-children-looking-screen-lesson%201.webp        1920w
                    "
                    class="blog-post-image"
                  />
                  <div class="blog-category-wrapper">
                    <div class="blog-post-category">Parenting Tips</div>
                  </div>
                  <div class="blog-post-arrow-wrapper">
                    <div class="blog-post-icon-wrap">
                      <div class="blog-post-icon-overflow">
                        <div
                          style="
                            -webkit-transform: translate3d(0rem, 0rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            -moz-transform: translate3d(0rem, 0rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            -ms-transform: translate3d(0rem, 0rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            transform: translate3d(0rem, 0rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                          "
                          class="blog-post-icon _01 w-embed"
                        >
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path>
                          </svg>
                        </div>
                        <div
                          style="
                            -webkit-transform: translate3d(-1rem, 1rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            -moz-transform: translate3d(-1rem, 1rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            -ms-transform: translate3d(-1rem, 1rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            transform: translate3d(-1rem, 1rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                          "
                          class="blog-post-icon _02 w-embed"
                        >
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="blog-post-content">
                  <div class="blog-post-info-item">
                    <div class="text-size-small">Reading Time:</div>
                    <div class="text-size-small text-weight-semibold">5 min</div>
                  </div>
                  <h2 class="blog-post-title">Encouraging Early Independence in Kids</h2>
                </div>
              </a>
            </div>
            <div role="listitem" class="w-dyn-item">
              <a data-w-id="ef657e9f-3424-0d15-46f7-67ebbe01c22c" href="/blog/a-day-in-the-life-at-our-nursery.html" class="blog-link-wrapper w-inline-block">
                <div class="blog-image-wrapper">
                  <img
                    src="/cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6bf3f9fa28f9a8a550237_woman-looking-into-tablet-happy-girl.webp"
                    loading="lazy"
                    style="
                      -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    "
                    alt="A Day in the Life at Our Nursery"
                    sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 44vw, (max-width: 1279px) 45vw, (max-width: 1439px) 46vw, 658px"
                    srcset="
                      /cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6bf3f9fa28f9a8a550237_woman-looking-into-tablet-happy-girl-p-500.webp   500w,
                      /cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6bf3f9fa28f9a8a550237_woman-looking-into-tablet-happy-girl-p-800.webp   800w,
                      /cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6bf3f9fa28f9a8a550237_woman-looking-into-tablet-happy-girl-p-1080.webp 1080w,
                      /cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6bf3f9fa28f9a8a550237_woman-looking-into-tablet-happy-girl.webp        1920w
                    "
                    class="blog-post-image"
                  />
                  <div class="blog-category-wrapper">
                    <div class="blog-post-category">School Life</div>
                  </div>
                  <div class="blog-post-arrow-wrapper">
                    <div class="blog-post-icon-wrap">
                      <div class="blog-post-icon-overflow">
                        <div
                          style="
                            -webkit-transform: translate3d(0rem, 0rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            -moz-transform: translate3d(0rem, 0rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            -ms-transform: translate3d(0rem, 0rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            transform: translate3d(0rem, 0rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                          "
                          class="blog-post-icon _01 w-embed"
                        >
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path>
                          </svg>
                        </div>
                        <div
                          style="
                            -webkit-transform: translate3d(-1rem, 1rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            -moz-transform: translate3d(-1rem, 1rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            -ms-transform: translate3d(-1rem, 1rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            transform: translate3d(-1rem, 1rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                          "
                          class="blog-post-icon _02 w-embed"
                        >
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="blog-post-content">
                  <div class="blog-post-info-item">
                    <div class="text-size-small">Reading Time:</div>
                    <div class="text-size-small text-weight-semibold">5 min</div>
                  </div>
                  <h2 class="blog-post-title">A Day in the Life at Our Nursery</h2>
                </div>
              </a>
            </div>
            <div role="listitem" class="w-dyn-item">
              <a data-w-id="ef657e9f-3424-0d15-46f7-67ebbe01c22c" href="/blog/the-importance-of-play-in-early-education.html" class="blog-link-wrapper w-inline-block">
                <div class="blog-image-wrapper">
                  <img
                    src="/cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6bebcd7538a499db7f150_kids-teacher-sitting-together-table.webp"
                    loading="lazy"
                    style="
                      -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    "
                    alt="The Importance of Play in Early Education"
                    sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 44vw, (max-width: 1279px) 45vw, (max-width: 1439px) 46vw, 658px"
                    srcset="
                      /cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6bebcd7538a499db7f150_kids-teacher-sitting-together-table-p-500.webp   500w,
                      /cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6bebcd7538a499db7f150_kids-teacher-sitting-together-table-p-800.webp   800w,
                      /cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6bebcd7538a499db7f150_kids-teacher-sitting-together-table-p-1080.webp 1080w,
                      /cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6bebcd7538a499db7f150_kids-teacher-sitting-together-table-p-1600.webp 1600w,
                      /cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6bebcd7538a499db7f150_kids-teacher-sitting-together-table.webp        1920w
                    "
                    class="blog-post-image"
                  />
                  <div class="blog-category-wrapper">
                    <div class="blog-post-category">Early Learning</div>
                  </div>
                  <div class="blog-post-arrow-wrapper">
                    <div class="blog-post-icon-wrap">
                      <div class="blog-post-icon-overflow">
                        <div
                          style="
                            -webkit-transform: translate3d(0rem, 0rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            -moz-transform: translate3d(0rem, 0rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            -ms-transform: translate3d(0rem, 0rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            transform: translate3d(0rem, 0rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                          "
                          class="blog-post-icon _01 w-embed"
                        >
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path>
                          </svg>
                        </div>
                        <div
                          style="
                            -webkit-transform: translate3d(-1rem, 1rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            -moz-transform: translate3d(-1rem, 1rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            -ms-transform: translate3d(-1rem, 1rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            transform: translate3d(-1rem, 1rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                          "
                          class="blog-post-icon _02 w-embed"
                        >
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="blog-post-content">
                  <div class="blog-post-info-item">
                    <div class="text-size-small">Reading Time:</div>
                    <div class="text-size-small text-weight-semibold">6 min</div>
                  </div>
                  <h2 class="blog-post-title">The Importance of Play in Early Education</h2>
                </div>
              </a>
            </div>
            <div role="listitem" class="w-dyn-item">
              <a data-w-id="ef657e9f-3424-0d15-46f7-67ebbe01c22c" href="/blog/helping-your-child-adjust-to-nursery.html" class="blog-link-wrapper w-inline-block">
                <div class="blog-image-wrapper">
                  <img
                    src="/cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6be52dd693032c591f693_smiling-teacher-touching-shoulder-boy-looking-tablet%201.webp"
                    loading="lazy"
                    style="
                      -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    "
                    alt=" Helping Your Child Adjust to Nursery"
                    sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 44vw, (max-width: 1279px) 45vw, (max-width: 1439px) 46vw, 658px"
                    srcset="
                      /cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6be52dd693032c591f693_smiling-teacher-touching-shoulder-boy-looking-tablet%201-p-500.webp   500w,
                      /cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6be52dd693032c591f693_smiling-teacher-touching-shoulder-boy-looking-tablet%201-p-800.webp   800w,
                      /cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6be52dd693032c591f693_smiling-teacher-touching-shoulder-boy-looking-tablet%201-p-1080.webp 1080w,
                      /cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6be52dd693032c591f693_smiling-teacher-touching-shoulder-boy-looking-tablet%201-p-1600.webp 1600w,
                      /cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6be52dd693032c591f693_smiling-teacher-touching-shoulder-boy-looking-tablet%201.webp        1920w
                    "
                    class="blog-post-image"
                  />
                  <div class="blog-category-wrapper">
                    <div class="blog-post-category">Parenting Tips</div>
                  </div>
                  <div class="blog-post-arrow-wrapper">
                    <div class="blog-post-icon-wrap">
                      <div class="blog-post-icon-overflow">
                        <div
                          style="
                            -webkit-transform: translate3d(0rem, 0rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            -moz-transform: translate3d(0rem, 0rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            -ms-transform: translate3d(0rem, 0rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            transform: translate3d(0rem, 0rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                          "
                          class="blog-post-icon _01 w-embed"
                        >
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path>
                          </svg>
                        </div>
                        <div
                          style="
                            -webkit-transform: translate3d(-1rem, 1rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            -moz-transform: translate3d(-1rem, 1rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            -ms-transform: translate3d(-1rem, 1rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                            transform: translate3d(-1rem, 1rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                          "
                          class="blog-post-icon _02 w-embed"
                        >
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z"></path>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="blog-post-content">
                  <div class="blog-post-info-item">
                    <div class="text-size-small">Reading Time:</div>
                    <div class="text-size-small text-weight-semibold">4 min</div>
                  </div>
                  <h2 class="blog-post-title">Helping Your Child Adjust to Nursery</h2>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-blog-newsletter">
  <div class="padding-global">
    <div class="container-large">
      <div class="padding-section-large">
        <div class="max-width-large align-center">
          <div class="newsletter-form-wrapper w-form">
            <div class="subtitle-item">
              <div class="subtitle-tag _01">Newsletter</div>
            </div>
            <h2 class="heading-style-h4 text-align-center">Subscribe to the Newsletter</h2>
            <div class="spacer-medium"></div>
            <form id="wf-form-Newsletter-Form" name="wf-form-Newsletter-Form" data-name="Newsletter Form" method="get" class="newsletter-form" data-wf-page-id="67924c6f84a3338774896cc4" data-wf-element-id="b3fdb3db-895d-9faa-e461-6e12d81034b5">
              <input class="form-input w-input" maxlength="256" name="name" data-name="Name" placeholder="Name" type="text" id="name" />
              <input class="form-input w-input" maxlength="256" name="email" data-name="Email" placeholder="Email Address" type="email" id="email" required="" />
              <input type="submit" data-wait="Please wait..." class="button width-100 w-button" value="Subscribe" />
            </form>
            <div class="form-message-success w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="form-message-error w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
