<div data-open-product="" data-wf-cart-type="modal" data-wf-cart-query="" data-wf-page-link-href-prefix="" class="w-commerce-commercecartwrapper cart" data-node-type="commerce-cart-wrapper">
  <a class="w-commerce-commercecartopenlink cart-button w-inline-block" role="button" aria-haspopup="dialog" aria-label="Open cart containing 2 items" data-node-type="commerce-cart-open-link" href="#">
    <div class="cart-text w-inline-block">Cart</div>
    <img src="/cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a6883a704c0306c5fba0ab_bag-icon.svg" loading="lazy" alt="Cart Icon - Futurie Webflow Template" class="cart-icon" />
    <div data-wf-bindings="%5B%7B%22innerHTML%22%3A%7B%22type%22%3A%22Number%22%2C%22filter%22%3A%7B%22type%22%3A%22numberPrecision%22%2C%22params%22%3A%5B%220%22%2C%22numberPrecision%22%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItemsCount%22%7D%7D%5D" class="w-commerce-commercecartopenlinkcount cart-quantity">2</div>
  </a>
  <div style="transition: all, opacity 300ms; opacity: 0; display: none" class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-modal cart-wrapper" data-node-type="commerce-cart-container-wrapper">
    <div data-node-type="commerce-cart-container" role="dialog" class="w-commerce-commercecartcontainer cart-container" style="transition: all; transform: none">
      <div class="w-commerce-commercecartheader cart-header">
        <h4 class="w-commerce-commercecartheading cart-title">Your Cart</h4>
        <a class="w-commerce-commercecartcloselink close-button w-inline-block" role="button" aria-label="Close cart" data-node-type="commerce-cart-close-link">
          <svg width="16px" height="16px" viewBox="0 0 16 16">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g fill-rule="nonzero" fill="#333333"><polygon points="6.23223305 8 0.616116524 13.6161165 2.38388348 15.3838835 8 9.76776695 13.6161165 15.3838835 15.3838835 13.6161165 9.76776695 8 15.3838835 2.38388348 13.6161165 0.616116524 8 6.23223305 2.38388348 0.616116524 0.616116524 2.38388348 6.23223305 8"></polygon></g>
            </g>
          </svg>
        </a>
      </div>
      <div class="w-commerce-commercecartformwrapper cart-form-wrapper">
        <form class="w-commerce-commercecartform" data-node-type="commerce-cart-form">
          <script type="text/x-wf-template" id="wf-template-2b70a801-ae52-2656-4e64-16390df38a59"></script>
          <div class="w-commerce-commercecartlist" data-wf-collection="database.commerceOrder.userItems" data-wf-template-id="wf-template-2b70a801-ae52-2656-4e64-16390df38a59">
            <div class="w-commerce-commercecartitem">
              <img
                data-wf-bindings="%5B%7B%22src%22%3A%7B%22type%22%3A%22ImageRef%22%2C%22filter%22%3A%7B%22type%22%3A%22identity%22%2C%22params%22%3A%5B%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems.0.sku.f_main_image_4dr%22%7D%7D%5D"
                src="/cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a682511532853cc1c77bb1_icon-03.webp"
                alt=""
                class="w-commerce-commercecartitemimage cart-image"
              />
              <div class="w-commerce-commercecartiteminfo">
                <div data-wf-bindings="class" ="w-commerce-commercecartproductname">Half-Day</div>
                <div>$&nbsp;299.00&nbsp;USD</div>
                <script type="text/x-wf-template" id="wf-template-2b70a801-ae52-2656-4e64-16390df38a5f"></script>
                <ul class="w-commerce-commercecartoptionlist"></ul>
                <a href="#" role="button" class="w-inline-block" data-wf-cart-action="remove-item" data-commerce-sku-id="67a680e4ce356e969628d215" aria-label="Remove item from cart">
                  <div class="remove-text">Remove</div>
                </a>
              </div>
              <input
                aria-label="Update quantity"
                data-wf-bindings="%5B%7B%22value%22%3A%7B%22type%22%3A%22Number%22%2C%22filter%22%3A%7B%22type%22%3A%22numberPrecision%22%2C%22params%22%3A%5B%220%22%2C%22numberPrecision%22%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems.0.count%22%7D%7D%2C%7B%22data-commerce-sku-id%22%3A%7B%22type%22%3A%22ItemRef%22%2C%22filter%22%3A%7B%22type%22%3A%22identity%22%2C%22params%22%3A%5B%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems.0.sku.id%22%7D%7D%5D"
                data-wf-conditions="%7B%22condition%22%3A%7B%22fields%22%3A%7B%22product%3Aec-product-type%22%3A%7B%22ne%22%3A%22e348fd487d0102946c9179d2a94bb613%22%2C%22type%22%3A%22Option%22%7D%7D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems.0%22%7D"
                class="w-commerce-commercecartquantity cart-quantity-block"
                required=""
                pattern="^[0-9]+$"
                inputmode="numeric"
                type="number"
                name="quantity"
                autocomplete="off"
                data-wf-cart-action="update-item-quantity"
                data-commerce-sku-id="67a680e4ce356e969628d215"
                value="1"
              />
            </div>
            <div class="w-commerce-commercecartitem">
              <img
                data-wf-bindings="%5B%7B%22src%22%3A%7B%22type%22%3A%22ImageRef%22%2C%22filter%22%3A%7B%22type%22%3A%22identity%22%2C%22params%22%3A%5B%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems.1.sku.f_main_image_4dr%22%7D%7D%5D"
                src="https://cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a682416456448269260347_icon-01.webp"
                alt=""
                class="w-commerce-commercecartitemimage cart-image"
              />
              <div class="w-commerce-commercecartiteminfo">
                <div data-wf-bindings="%5B%7B%22innerHTML%22%3A%7B%22type%22%3A%22PlainText%22%2C%22filter%22%3A%7B%22type%22%3A%22identity%22%2C%22params%22%3A%5B%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems.1.product.f_name_%22%7D%7D%5D" class="w-commerce-commercecartproductname">Extended Care</div>
                <div data-wf-bindings="%5B%7B%22innerHTML%22%3A%7B%22type%22%3A%22CommercePrice%22%2C%22filter%22%3A%7B%22type%22%3A%22price%22%2C%22params%22%3A%5B%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems.1.price%22%7D%7D%5D">$&nbsp;899.00&nbsp;USD</div>
                <script type="text/x-wf-template" id="wf-template-2b70a801-ae52-2656-4e64-16390df38a5f">
                  %3Cli%3E%3Cspan%20data-wf-bindings%3D%22%255B%257B%2522innerHTML%2522%253A%257B%2522type%2522%253A%2522PlainText%2522%252C%2522filter%2522%253A%257B%2522type%2522%253A%2522identity%2522%252C%2522params%2522%253A%255B%255D%257D%252C%2522dataPath%2522%253A%2522database.commerceOrder.userItems.1.product.f_sku_properties_3dr%255B%255D.name%2522%257D%257D%255D%22%20class%3D%22w-dyn-bind-empty%22%3E%3C%2Fspan%3E%3Cspan%3E%3A%20%3C%2Fspan%3E%3Cspan%20data-wf-bindings%3D%22%255B%257B%2522innerHTML%2522%253A%257B%2522type%2522%253A%2522CommercePropValues%2522%252C%2522filter%2522%253A%257B%2522type%2522%253A%2522identity%2522%252C%2522params%2522%253A%255B%255D%257D%252C%2522dataPath%2522%253A%2522database.commerceOrder.userItems.1.product.f_sku_properties_3dr%255B%255D%2522%257D%257D%255D%22%20class%3D%22w-dyn-bind-empty%22%3E%3C%2Fspan%3E%3C%2Fli%3E
                </script>
                <ul
                  data-wf-bindings="%5B%7B%22optionSets%22%3A%7B%22type%22%3A%22CommercePropTable%22%2C%22filter%22%3A%7B%22type%22%3A%22identity%22%2C%22params%22%3A%5B%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems.1.product.f_sku_properties_3dr[]%22%7D%7D%2C%7B%22optionValues%22%3A%7B%22type%22%3A%22CommercePropValues%22%2C%22filter%22%3A%7B%22type%22%3A%22identity%22%2C%22params%22%3A%5B%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems.1.sku.f_sku_values_3dr%22%7D%7D%5D"
                  class="w-commerce-commercecartoptionlist"
                  data-wf-collection="database.commerceOrder.userItems.1.product.f_sku_properties_3dr"
                  data-wf-template-id="wf-template-2b70a801-ae52-2656-4e64-16390df38a5f"
                ></ul>
                <a
                  href="#"
                  role="button"
                  data-wf-bindings="%5B%7B%22data-commerce-sku-id%22%3A%7B%22type%22%3A%22ItemRef%22%2C%22filter%22%3A%7B%22type%22%3A%22identity%22%2C%22params%22%3A%5B%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems.1.sku.id%22%7D%7D%5D"
                  class="w-inline-block"
                  data-wf-cart-action="remove-item"
                  data-commerce-sku-id="67a68043704c0306c5f36f0c"
                  aria-label="Remove item from cart"
                >
                  <div class="remove-text">Remove</div>
                </a>
              </div>
              <input
                aria-label="Update quantity"
                data-wf-bindings="%5B%7B%22value%22%3A%7B%22type%22%3A%22Number%22%2C%22filter%22%3A%7B%22type%22%3A%22numberPrecision%22%2C%22params%22%3A%5B%220%22%2C%22numberPrecision%22%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems.1.count%22%7D%7D%2C%7B%22data-commerce-sku-id%22%3A%7B%22type%22%3A%22ItemRef%22%2C%22filter%22%3A%7B%22type%22%3A%22identity%22%2C%22params%22%3A%5B%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems.1.sku.id%22%7D%7D%5D"
                data-wf-conditions="%7B%22condition%22%3A%7B%22fields%22%3A%7B%22product%3Aec-product-type%22%3A%7B%22ne%22%3A%22e348fd487d0102946c9179d2a94bb613%22%2C%22type%22%3A%22Option%22%7D%7D%7D%2C%22dataPath%22%3A%22database.commerceOrder.userItems.1%22%7D"
                class="w-commerce-commercecartquantity cart-quantity-block"
                required=""
                pattern="^[0-9]+$"
                inputmode="numeric"
                type="number"
                name="quantity"
                autocomplete="off"
                data-wf-cart-action="update-item-quantity"
                data-commerce-sku-id="67a68043704c0306c5f36f0c"
                value="1"
              />
            </div>
          </div>
          <div class="w-commerce-commercecartfooter cart-footer">
            <div aria-atomic="true" aria-live="polite" class="w-commerce-commercecartlineitem">
              <div>Subtotal</div>
              <div data-wf-bindings="%5B%7B%22innerHTML%22%3A%7B%22type%22%3A%22CommercePrice%22%2C%22filter%22%3A%7B%22type%22%3A%22price%22%2C%22params%22%3A%5B%5D%7D%2C%22dataPath%22%3A%22database.commerceOrder.subtotal%22%7D%7D%5D" class="w-commerce-commercecartordervalue">$&nbsp;1,198.00&nbsp;USD</div>
            </div>
            <div>
              <div data-node-type="commerce-cart-quick-checkout-actions" style="display: none" class="web-payment">
                <a data-node-type="commerce-cart-apple-pay-button" role="button" aria-label="Apple Pay" aria-haspopup="dialog" style="background-image: -webkit-named-image(apple-pay-logo-white); background-size: 100% 50%; background-position: 50% 50%; background-repeat: no-repeat" class="w-commerce-commercecartapplepaybutton apple-pay" tabindex="0"><div></div></a>
                <a data-node-type="commerce-cart-quick-checkout-button" role="button" tabindex="0" aria-haspopup="dialog" style="display: none" class="w-commerce-commercecartquickcheckoutbutton">
                  <svg class="w-commerce-commercequickcheckoutgoogleicon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 16 16">
                    <defs>
                      <polygon id="google-mark-a" points="0 .329 3.494 .329 3.494 7.649 0 7.649"></polygon>
                      <polygon id="google-mark-c" points=".894 0 13.169 0 13.169 6.443 .894 6.443"></polygon>
                    </defs>
                    <g fill="none" fill-rule="evenodd">
                      <path fill="#4285F4" d="M10.5967,12.0469 L10.5967,14.0649 L13.1167,14.0649 C14.6047,12.6759 15.4577,10.6209 15.4577,8.1779 C15.4577,7.6339 15.4137,7.0889 15.3257,6.5559 L7.8887,6.5559 L7.8887,9.6329 L12.1507,9.6329 C11.9767,10.6119 11.4147,11.4899 10.5967,12.0469"></path>
                      <path fill="#34A853" d="M7.8887,16 C10.0137,16 11.8107,15.289 13.1147,14.067 C13.1147,14.066 13.1157,14.065 13.1167,14.064 L10.5967,12.047 C10.5877,12.053 10.5807,12.061 10.5727,12.067 C9.8607,12.556 8.9507,12.833 7.8887,12.833 C5.8577,12.833 4.1387,11.457 3.4937,9.605 L0.8747,9.605 L0.8747,11.648 C2.2197,14.319 4.9287,16 7.8887,16"></path>
                      <g transform="translate(0 4)">
                        <mask id="google-mark-b" fill="#fff"><use xlink:href="#google-mark-a"></use></mask>
                        <path
                          fill="#FBBC04"
                          d="M3.4639,5.5337 C3.1369,4.5477 3.1359,3.4727 3.4609,2.4757 L3.4639,2.4777 C3.4679,2.4657 3.4749,2.4547 3.4789,2.4427 L3.4939,0.3287 L0.8939,0.3287 C0.8799,0.3577 0.8599,0.3827 0.8459,0.4117 C-0.2821,2.6667 -0.2821,5.3337 0.8459,7.5887 L0.8459,7.5997 C0.8549,7.6167 0.8659,7.6317 0.8749,7.6487 L3.4939,5.6057 C3.4849,5.5807 3.4729,5.5587 3.4639,5.5337"
                          mask="url(#google-mark-b)"
                        ></path>
                      </g>
                      <mask id="google-mark-d" fill="#fff"><use xlink:href="#google-mark-c"></use></mask>
                      <path fill="#EA4335" d="M0.894,4.3291 L3.478,6.4431 C4.113,4.5611 5.843,3.1671 7.889,3.1671 C9.018,3.1451 10.102,3.5781 10.912,4.3671 L13.169,2.0781 C11.733,0.7231 9.85,-0.0219 7.889,0.0001 C4.941,0.0001 2.245,1.6791 0.894,4.3291" mask="url(#google-mark-d)"></path>
                    </g></svg
                  ><svg class="w-commerce-commercequickcheckoutmicrosofticon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                    <g fill="none" fill-rule="evenodd">
                      <polygon fill="#F05022" points="7 7 1 7 1 1 7 1"></polygon>
                      <polygon fill="#7DB902" points="15 7 9 7 9 1 15 1"></polygon>
                      <polygon fill="#00A4EE" points="7 15 1 15 1 9 7 9"></polygon>
                      <polygon fill="#FFB700" points="15 15 9 15 9 9 15 9"></polygon>
                    </g>
                  </svg>
                  <div>Pay with browser.</div>
                </a>
              </div>
              <a href="/checkout" value="Continue to Checkout" class="w-commerce-commercecartcheckoutbutton button width-100" data-loading-text="Hang Tight..." data-node-type="cart-checkout-button">Continue to Checkout</a>
            </div>
          </div>
        </form>
        <div class="w-commerce-commercecartemptystate" style="display: none"><div aria-label="This cart is empty" aria-live="polite">No items found.</div></div>
        <div aria-live="assertive" style="display: none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate form-message-error">
          <div
            class="w-cart-error-msg"
            data-w-cart-quantity-error="Product is not available in this quantity."
            data-w-cart-general-error="Something went wrong when adding this item to the cart."
            data-w-cart-checkout-error="Checkout is disabled on this site."
            data-w-cart-cart_order_min-error="The order minimum was not met. Add more items to your cart to continue."
            data-w-cart-subscription_error-error="Before you purchase, please use your email invite to verify your address so we can send order updates."
          >
            Product is not available in this quantity.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
