{% extends "layout.html" %} {% block content %}
<header class="section-home-header">
  <div class="w-layout-grid header-component-grid">
    <div id="w-node-_7e3d1b9a-28a1-1702-27ae-7efc48f767d3-62e0f197" class="header-3d-wrapper">
      <div class="_3d-block">
        <div class="_3d-container">
          <div class="_3d-wrapper">
            <div class="_3d-object">
              {% for image in hero.images %}
              <div class="_3d-face _0{{ loop.index }}">
                <img src="{{ image }}" alt="Be The Smart One (BTS1)" loading="lazy" class="_3d-image" />
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <h1 id="w-node-d40c5386-1b74-e60a-a5b9-dc54311a72dc-62e0f197" class="header-title">
      Be the
      <br />
      smart one
    </h1>
  </div>
</header>
<section class="section-home-intro">
  <div class="padding-global">
    <div class="container-large">
      <div class="padding-section-large">
        <div class="intro-content-wrapper">
          <div class="subtitle-item">
            <div class="subtitle-tag _01">About us</div>
          </div>
          <div class="max-width-large align-center">
            <h2 class="heading-style-h2 text-align-center">
              A Place
              <br />
              to 
              <span class="text-shape-h2 image-01-h2"></span>
              Grow
            </h2>
          </div>
          <div class="spacer-small"></div>
          <div class="max-width-medium align-center">
            <p class="text-size-regular text-align-center">Our courses provides a safe, engaging, and stimulating environment where children can explore, learn, and grow. We nurture young minds with love, creativity, and education.</p>
          </div>
          <div class="spacer-large"></div>
          <div class="max-width-medium align-center">
            <p class="text-size-medium text-align-center">Age-appropriate programs designed to inspire and educate:</p>
          </div>
          <div class="spacer-huge"></div>
          {% include "components/programs.html" %}
          <div class="spacer-huge"></div>
          <div class="button-wrapper">
            <a href="#about" data-w-id="f97785cf-552e-1f9a-e62f-e03bb5fa7d1d" class="main-button is-pink w-inline-block">
              <div class="w-layout-grid inner-button-grid">
                <div id="w-node-f97785cf-552e-1f9a-e62f-e03bb5fa7d1e-62e0f197" class="text-button-wrap">
                  <div
                    style="
                      -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    "
                    class="text-button"
                  >
                    About Us
                  </div>
                  <div
                    style="
                      -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    "
                    class="text-button"
                  >
                    About Us
                  </div>
                </div>
                <div class="inner-circle-button">
                  <div
                    style="
                      -webkit-transform: translate3d(0rem, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -moz-transform: translate3d(0rem, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(0rem, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(0rem, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    "
                    class="arrow-button _01 w-embed"
                  >
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                      <path
                        d="M8.49816 20.0048H15.5018C14.8432 21.5842 13.5794 22.848 12 23.5066C10.4206 22.848 9.15679 21.5842 8.49816 20.0048ZM18 14.8095L20 17.0778V19.0048H4V17.0778L6 14.8095V9.00481C6 5.52156 8.50442 2.55825 12 1.46002C15.4956 2.55825 18 5.52156 18 9.00481V14.8095ZM12 11.0048C13.1046 11.0048 14 10.1094 14 9.00481C14 7.90024 13.1046 7.00481 12 7.00481C10.8954 7.00481 10 7.90024 10 9.00481C10 10.1094 10.8954 11.0048 12 11.0048Z"
                      ></path>
                    </svg>
                  </div>
                  <div
                    style="
                      -webkit-transform: translate3d(-1.5rem, 1.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -moz-transform: translate3d(-1.5rem, 1.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(-1.5rem, 1.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(-1.5rem, 1.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    "
                    class="arrow-button _02 w-embed"
                  >
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                      <path
                        d="M8.49816 20.0048H15.5018C14.8432 21.5842 13.5794 22.848 12 23.5066C10.4206 22.848 9.15679 21.5842 8.49816 20.0048ZM18 14.8095L20 17.0778V19.0048H4V17.0778L6 14.8095V9.00481C6 5.52156 8.50442 2.55825 12 1.46002C15.4956 2.55825 18 5.52156 18 9.00481V14.8095ZM12 11.0048C13.1046 11.0048 14 10.1094 14 9.00481C14 7.90024 13.1046 7.00481 12 7.00481C10.8954 7.00481 10 7.90024 10 9.00481C10 10.1094 10.8954 11.0048 12 11.0048Z"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-layout-grid background-grid">
    <div class="background-overflow">
      <div class="menu-background top"></div>
    </div>
    <div class="background-overflow">
      <div class="menu-background bottom"></div>
    </div>
  </div>
</section>
<section class="section-home-why-us">
  <div class="padding-global">
    <div class="container-large">
      <div class="padding-section-large">
        <div class="w-layout-grid why-us-component-grid">
          <div class="image-wrapper">
            <img
              src="../cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a60b69ff39a8fa7a70702c_Frame%2015.png"
              loading="lazy"
              sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 91vw, (max-width: 1279px) 93vw, (max-width: 1439px) 94vw, 1354px"
              srcset="
                ../cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a60b69ff39a8fa7a70702c_Frame%2015-p-500.png   500w,
                ../cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a60b69ff39a8fa7a70702c_Frame%2015-p-800.png   800w,
                ../cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a60b69ff39a8fa7a70702c_Frame%2015-p-1080.png 1080w,
                ../cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a60b69ff39a8fa7a70702c_Frame%2015.png        1280w
              "
              alt="BTS1 – Les Calistung Anak Usia Dini di Citra Maja City"
              class="cover-image"
            />
          </div>
          <div id="w-node-_12944be5-02fe-7aa2-ae06-b39a4b7e3810-62e0f197" class="why-us-content-wrapper">
            <div class="subtitle-item is-left">
              <div class="subtitle-tag _02">Why Us</div>
            </div>
            <h2 class="heading-style-h3">Why Choose Us?</h2>
            <div class="spacer-medium"></div>
            <div class="max-width-medium">
              <div class="text-size-medium">A Safe &amp; Supportive Environment for Growth</div>
            </div>
            <div class="spacer-large"></div>
            <div class="w-layout-grid why-us-content-grid">
              {% for feature in why_us.features %}
              <div class="feature-item">
                <img src="/cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a4ffe90739d2001fe1693f_check-icon.svg" loading="lazy" alt="BTS1 - Be The Smart One" class="checkbox" />
                <p class="text-size-regular">{{ feature }}</p>
              </div>
              {% endfor %}
            </div>
            <div class="spacer-large"></div>
            <a href="https://wa.me/6289684247721?text=Halo%20BTS1%2C%20saya%20ingin%20tanya%20soal%20kelas%20calistung.%20Terima%20kasih!" data-w-id="5aaefb4b-079c-8019-0e08-5e1f1ee1ae05" class="main-button w-inline-block">
              <div class="w-layout-grid inner-button-grid">
                <div id="w-node-_5aaefb4b-079c-8019-0e08-5e1f1ee1ae07-62e0f197" class="text-button-wrap">
                  <div
                    style="
                      -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    "
                    class="text-button"
                  >
                    Contact Us
                  </div>
                  <div
                    style="
                      -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    "
                    class="text-button"
                  >
                    Contact Us
                  </div>
                </div>
                <div class="inner-circle-button">
                  <div
                    style="
                      -webkit-transform: translate3d(0rem, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -moz-transform: translate3d(0rem, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(0rem, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(0rem, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    "
                    class="arrow-button _01 w-embed"
                  >
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                      <path
                        d="M8.49816 20.0048H15.5018C14.8432 21.5842 13.5794 22.848 12 23.5066C10.4206 22.848 9.15679 21.5842 8.49816 20.0048ZM18 14.8095L20 17.0778V19.0048H4V17.0778L6 14.8095V9.00481C6 5.52156 8.50442 2.55825 12 1.46002C15.4956 2.55825 18 5.52156 18 9.00481V14.8095ZM12 11.0048C13.1046 11.0048 14 10.1094 14 9.00481C14 7.90024 13.1046 7.00481 12 7.00481C10.8954 7.00481 10 7.90024 10 9.00481C10 10.1094 10.8954 11.0048 12 11.0048Z"
                      ></path>
                    </svg>
                  </div>
                  <div
                    style="
                      -webkit-transform: translate3d(-1.5rem, 1.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -moz-transform: translate3d(-1.5rem, 1.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      -ms-transform: translate3d(-1.5rem, 1.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                      transform: translate3d(-1.5rem, 1.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    "
                    class="arrow-button _02 w-embed"
                  >
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                      <path
                        d="M8.49816 20.0048H15.5018C14.8432 21.5842 13.5794 22.848 12 23.5066C10.4206 22.848 9.15679 21.5842 8.49816 20.0048ZM18 14.8095L20 17.0778V19.0048H4V17.0778L6 14.8095V9.00481C6 5.52156 8.50442 2.55825 12 1.46002C15.4956 2.55825 18 5.52156 18 9.00481V14.8095ZM12 11.0048C13.1046 11.0048 14 10.1094 14 9.00481C14 7.90024 13.1046 7.00481 12 7.00481C10.8954 7.00481 10 7.90024 10 9.00481C10 10.1094 10.8954 11.0048 12 11.0048Z"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-home-our-programs">
  <div class="padding-global">
    <div class="container-large">
      <div class="padding-section-large">
        <div class="subtitle-item">
          <div class="subtitle-tag _02">What We Offer</div>
        </div>
        <div class="max-width-large align-center">
          <h2 class="heading-style-h2 text-align-center">
            Our 
            <span class="text-shape-h2 image-02-h2"></span>
            Programs
          </h2>
        </div>
        <div class="spacer-small"></div>
        <div class="max-width-medium align-center">
          <p class="text-size-medium text-align-center">We offer age-appropriate programs designed to inspire and educate:</p>
        </div>
        <div class="spacer-xlarge"></div>
        <div class="programs-content-wrapper">
          <div class="programs-component-grid">
            <div id="w-node-_68b45a98-4cc4-7376-36f9-29582fac1a99-62e0f197" class="timeline-progress">
              <div class="timeline-overlay-top"></div>
              <div class="timeline-progress-line"></div>
              <div class="timeline-line"></div>
              <div class="timeline-overlay-bottom"></div>
              <div class="timeline-progress-line-wrapper"></div>
            </div>
            <div id="w-node-_68b45a98-4cc4-7376-36f9-29582fac1a9f-62e0f197" class="programs-list">
              <div class="programs-row">
                <div id="w-node-_68b45a98-4cc4-7376-36f9-29582fac1aa1-62e0f197" class="programs-image-wrapper">
                  <div class="image-wrapper">
                    <img
                      src="../cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a560d7df1a27d6e6a476aa_Frame%209.png"
                      loading="lazy"
                      sizes="(max-width: 767px) 100vw, (max-width: 1279px) 41vw, (max-width: 1439px) 42vw, 610px"
                      srcset="
                        ../cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a560d7df1a27d6e6a476aa_Frame%209-p-500.png   500w,
                        ../cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a560d7df1a27d6e6a476aa_Frame%209-p-800.png   800w,
                        ../cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a560d7df1a27d6e6a476aa_Frame%209-p-1080.png 1080w,
                        ../cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a560d7df1a27d6e6a476aa_Frame%209.png        1280w
                      "
                      alt="BTS1 – Les Calistung Anak Usia Dini di Citra Maja City"
                      class="cover-image"
                    />
                  </div>
                </div>
                <div id="w-node-_68b45a98-4cc4-7376-36f9-29582fac1aa3-62e0f197" class="timeline-circle-wrapper">
                  <div class="timeline-circle"></div>
                </div>
                <div id="w-node-_68b45a98-4cc4-7376-36f9-29582fac1aa6-62e0f197" class="program-content-item">
                  <h3 class="program-number">Calistung for Toddlers (Ages 3–4)</h3>
                  <div class="spacer-small"></div>
                  <h4 class="program-subtitle">Early Introduction to Letters and Numbers Through Play</h4>
                  <div class="spacer-small"></div>
                  <p class="text-size-regular">Designed for younger learners, this program gently introduces the basics of reading and math through interactive storytelling, phonics songs, tracing lines and shapes, and sensory-based games. It helps toddlers become familiar with letters and numbers while developing fine motor skills and a love for learning.</p>
                </div>
              </div>
              <div class="programs-row">
                <div id="w-node-_68b45a98-4cc4-7376-36f9-29582fac1ab9-62e0f197" class="program-content-item is-left">
                  <h3 class="program-number">English for Kids (SOON)</h3>
                  <div class="spacer-small"></div>
                  <h4 class="program-subtitle">Build Confidence in Speaking, Listening, Reading & Writing</h4>
                  <div class="spacer-small"></div>
                  <p class="text-size-regular">Our English program focuses on practical communication skills through fun and immersive activities. Children learn through songs, storytelling, interactive games, and simple conversations to build their vocabulary and confidence. Each lesson is crafted to make learning English joyful and effective.</p>
                </div>
                <div id="w-node-_68b45a98-4cc4-7376-36f9-29582fac1aca-62e0f197" class="timeline-circle-wrapper">
                  <div class="timeline-circle"></div>
                </div>
                <div class="programs-image-wrapper">
                  <div class="image-wrapper">
                    <img
                      src="../cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a560d7d63db4d1bf257a5c_Frame%2010.png"
                      loading="lazy"
                      sizes="(max-width: 767px) 100vw, (max-width: 1279px) 41vw, (max-width: 1439px) 42vw, 610px"
                      srcset="
                        ../cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a560d7d63db4d1bf257a5c_Frame%2010-p-500.png   500w,
                        ../cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a560d7d63db4d1bf257a5c_Frame%2010-p-800.png   800w,
                        ../cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a560d7d63db4d1bf257a5c_Frame%2010-p-1080.png 1080w,
                        ../cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a560d7d63db4d1bf257a5c_Frame%2010.png        1280w
                      "
                      alt="BTS1 – Les Calistung Anak Usia Dini di Citra Maja City"
                      class="cover-image"
                    />
                  </div>
                </div>
              </div>
              <div class="programs-row">
                <div id="w-node-_68b45a98-4cc4-7376-36f9-29582fac1acf-62e0f197" class="programs-image-wrapper">
                  <div class="image-wrapper">
                    <img
                      src="../cdn.prod.website-files.com/67924c6f84a3338774896ca8/67959d6aadf7657178aebcd5_Frame%205.png"
                      loading="lazy"
                      sizes="(max-width: 767px) 100vw, (max-width: 1279px) 41vw, (max-width: 1439px) 42vw, 610px"
                      srcset="
                        ../cdn.prod.website-files.com/67924c6f84a3338774896ca8/67959d6aadf7657178aebcd5_Frame%205-p-500.png   500w,
                        ../cdn.prod.website-files.com/67924c6f84a3338774896ca8/67959d6aadf7657178aebcd5_Frame%205-p-800.png   800w,
                        ../cdn.prod.website-files.com/67924c6f84a3338774896ca8/67959d6aadf7657178aebcd5_Frame%205-p-1080.png 1080w,
                        ../cdn.prod.website-files.com/67924c6f84a3338774896ca8/67959d6aadf7657178aebcd5_Frame%205.png        1280w
                      "
                      alt="BTS1 – Les Calistung Anak Usia Dini di Citra Maja City"
                      class="cover-image"
                    />
                  </div>
                </div>
                <div id="w-node-_68b45a98-4cc4-7376-36f9-29582fac1ad1-62e0f197" class="timeline-circle-wrapper">
                  <div class="timeline-circle"></div>
                </div>
                <div id="w-node-_68b45a98-4cc4-7376-36f9-29582fac1ad4-62e0f197" class="program-content-item">
                  <h3 class="program-number">HOLIDAY CAMP Robotics (SOON)</h3>
                  <div class="spacer-small"></div>
                  <h4 class="program-subtitle">Discovering Technology Through Hands-On Play</h4>
                  <div class="spacer-small"></div>
                  <p class="text-size-regular">Children explore the exciting world of robotics by building and controlling simple robots using age-appropriate tools and materials. Our STEAM-based approach (Science, Technology, Engineering, Arts, and Math) helps kids develop problem-solving, logical thinking, and creativity in a fun, safe environment.</p>
                </div>
              </div>
              <div class="programs-row">
                <div id="w-node-_68b45a98-4cc4-7376-36f9-29582fac1ae7-62e0f197" class="program-content-item is-left">
                  <h3 class="program-number">HOLIDAY CAMP CODING (SOON)</h3>
                  <div class="spacer-small"></div>
                  <h4 class="program-subtitle">Learn Coding the Fun and Visual Way</h4>
                  <div class="spacer-small"></div>
                  <p class="text-size-regular">In this class, children are introduced to the basics of programming using block-based coding platforms. They’ll create their own animations, games, or interactive stories while learning logic, sequencing, and creative thinking. This course empowers young learners to become confident digital creators.</p>
                </div>
                <div id="w-node-_68b45a98-4cc4-7376-36f9-29582fac1af8-62e0f197" class="timeline-circle-wrapper">
                  <div class="timeline-circle"></div>
                </div>
                <div class="programs-image-wrapper">
                  <div class="image-wrapper">
                    <img
                      src="../cdn.prod.website-files.com/67924c6f84a3338774896ca8/67959d6f79f5325b87ef1789_Frame%206.png"
                      loading="lazy"
                      sizes="(max-width: 767px) 100vw, (max-width: 1279px) 41vw, (max-width: 1439px) 42vw, 610px"
                      srcset="
                        ../cdn.prod.website-files.com/67924c6f84a3338774896ca8/67959d6f79f5325b87ef1789_Frame%206-p-500.png   500w,
                        ../cdn.prod.website-files.com/67924c6f84a3338774896ca8/67959d6f79f5325b87ef1789_Frame%206-p-800.png   800w,
                        ../cdn.prod.website-files.com/67924c6f84a3338774896ca8/67959d6f79f5325b87ef1789_Frame%206-p-1080.png 1080w,
                        ../cdn.prod.website-files.com/67924c6f84a3338774896ca8/67959d6f79f5325b87ef1789_Frame%206.png        1280w
                      "
                      alt="BTS1 – Les Calistung Anak Usia Dini di Citra Maja City"
                      class="cover-image"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="spacer-huge"></div>
        <div class="button-wrapper">
          <a href="#about.html" data-w-id="d755e437-1429-bac8-1e2e-8c91a02c5e7f" class="main-button w-inline-block">
            <div class="w-layout-grid inner-button-grid">
              <div id="w-node-d755e437-1429-bac8-1e2e-8c91a02c5e81-62e0f197" class="text-button-wrap">
                <div
                  style="
                    -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  "
                  class="text-button"
                >
                  Get Started
                </div>
                <div
                  style="
                    -webkit-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0, 0%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  "
                  class="text-button"
                >
                  Get Started
                </div>
              </div>
              <div class="inner-circle-button">
                <div
                  style="
                    -webkit-transform: translate3d(0rem, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(0rem, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(0rem, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(0rem, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  "
                  class="arrow-button _01 w-embed"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <path
                      d="M8.49816 20.0048H15.5018C14.8432 21.5842 13.5794 22.848 12 23.5066C10.4206 22.848 9.15679 21.5842 8.49816 20.0048ZM18 14.8095L20 17.0778V19.0048H4V17.0778L6 14.8095V9.00481C6 5.52156 8.50442 2.55825 12 1.46002C15.4956 2.55825 18 5.52156 18 9.00481V14.8095ZM12 11.0048C13.1046 11.0048 14 10.1094 14 9.00481C14 7.90024 13.1046 7.00481 12 7.00481C10.8954 7.00481 10 7.90024 10 9.00481C10 10.1094 10.8954 11.0048 12 11.0048Z"
                    ></path>
                  </svg>
                </div>
                <div
                  style="
                    -webkit-transform: translate3d(-1.5rem, 1.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -moz-transform: translate3d(-1.5rem, 1.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    -ms-transform: translate3d(-1.5rem, 1.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                    transform: translate3d(-1.5rem, 1.5rem, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                  "
                  class="arrow-button _02 w-embed"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                    <path
                      d="M8.49816 20.0048H15.5018C14.8432 21.5842 13.5794 22.848 12 23.5066C10.4206 22.848 9.15679 21.5842 8.49816 20.0048ZM18 14.8095L20 17.0778V19.0048H4V17.0778L6 14.8095V9.00481C6 5.52156 8.50442 2.55825 12 1.46002C15.4956 2.55825 18 5.52156 18 9.00481V14.8095ZM12 11.0048C13.1046 11.0048 14 10.1094 14 9.00481C14 7.90024 13.1046 7.00481 12 7.00481C10.8954 7.00481 10 7.90024 10 9.00481C10 10.1094 10.8954 11.0048 12 11.0048Z"
                    ></path>
                  </svg>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="testimonial-section">
  <div class="padding-global">
    <div class="container-large">
      <div class="padding-section-large">
        <div class="subtitle-item">
          <div class="subtitle-tag _03">Testimonials</div>
        </div>
        <div class="max-width-xlarge align-center">
          <h2 class="heading-style-h2 text-align-center">
            What 
            <span class="text-shape-h2 image-03-h2"></span>
            Parents Say
          </h2>
        </div>
        <div class="spacer-xlarge"></div>
        <div data-delay="4000" data-animation="slide" class="testimonial-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
          <div class="testimonial-mask w-slider-mask">{% include "components/testimonials.njk" %}</div>
          <div class="slider-arrow is-left w-slider-arrow-left">
            <div class="slide-arrow w-icon-slider-left"></div>
          </div>
          <div class="slider-arrow is-right w-slider-arrow-right">
            <div class="slide-arrow w-icon-slider-right"></div>
          </div>
          <div class="display-none w-slider-nav w-round"></div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
