{% extends "layout.html" %} {% block content %}
<header class="section-pricing-header">
  <div class="padding-global">
    <div class="container-large">
      <div class="padding-top-header">
        <div class="max-width-large align-center">
          <div class="subtitle-item">
            <div class="subtitle-tag _02">Plans</div>
          </div>
          <h2 class="heading-style-h2 text-align-center">
            Tailored 
            <span class="text-shape-h2 image-04-h2"></span>
            Learning Plans
          </h2>
        </div>
        <div class="spacer-small"></div>
        <div class="max-width-medium align-center">
          <div class="text-size-regular text-align-center">We offer three carefully designed plans to suit different schedules and learning needs. Each plan provides a nurturing, engaging, and enriching experience for your child.</div>
        </div>
        <div class="spacer-medium"></div>
      </div>
    </div>
  </div>
</header>
<section class="section-pricing-content">
  <div class="padding-global">
    <div class="container-large">
      <div class="padding-section-small">
        <div class="w-dyn-list">
          <div role="list" class="produc-component-grid w-dyn-items">
            <div role="listitem" class="w-dyn-item">
              <div class="product-content-wrapper">
                <img loading="lazy" data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D" src="/cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a682511532853cc1c77bb1_icon-03.webp" alt="" class="plan-icon" />
                <h2 class="product-title">Half-Day</h2>
                <div class="text-size-small">A great option for parents looking for a structured yet flexible early learning experience in a warm and caring environment.</div>
                <div class="spacer-medium"></div>
                <div class="price-wrap">
                  <div class="price-text">$299</div>
                  <div class="text-size-small">/ month</div>
                </div>
                <div class="spacer-medium"></div>
                <div class="pricing-benefits-list">
                  <div class="feature-item">
                    <img src="/cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a4ffe90739d2001fe1693f_check-icon.svg" loading="lazy" alt="Check Icon - Futurie Webflow Template" class="checkbox" />
                    <p class="product-feature-text">Morning or afternoon sessions available</p>
                  </div>
                  <div class="feature-item">
                    <img src="/cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a4ffe90739d2001fe1693f_check-icon.svg" loading="lazy" alt="Check Icon - Futurie Webflow Template" class="checkbox" />
                    <p class="product-feature-text">Play-based and structured learning activities</p>
                  </div>
                  <div class="feature-item">
                    <img src="/cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a4ffe90739d2001fe1693f_check-icon.svg" loading="lazy" alt="Check Icon - Futurie Webflow Template" class="checkbox" />
                    <p class="product-feature-text">Healthy snack provided</p>
                  </div>
                  <div class="feature-item">
                    <img src="/cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a4ffe90739d2001fe1693f_check-icon.svg" loading="lazy" alt="Check Icon - Futurie Webflow Template" class="checkbox" />
                    <p class="product-feature-text">Small class sizes for personalized attention</p>
                  </div>
                  <div class="feature-item">
                    <img src="/cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a4ffe90739d2001fe1693f_check-icon.svg" loading="lazy" alt="Check Icon - Futurie Webflow Template" class="checkbox" />
                    <p class="product-feature-text">Engaging outdoor playtime</p>
                  </div>
                </div>
                <div class="spacer-large"></div>
                <a href="product/half-day.html" class="button width-100 w-button">Learn More</a>
              </div>
            </div>
            <div role="listitem" class="w-dyn-item">
              <div class="product-content-wrapper">
                <img loading="lazy" data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D" src="/cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a6825e2df897568e8d77ac_icon-04.webp" alt="" class="plan-icon" />
                <h2 class="product-title">Full-Day</h2>
                <div class="text-size-small">Perfect for working parents, this plan offers a full day of fun, learning, and social interaction.</div>
                <div class="spacer-medium"></div>
                <div class="price-wrap">
                  <div class="price-text">$499</div>
                  <div class="text-size-small">/ month</div>
                </div>
                <div class="spacer-medium"></div>
                <div class="pricing-benefits-list">
                  <div class="feature-item">
                    <img src="/cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a4ffe90739d2001fe1693f_check-icon.svg" loading="lazy" alt="Check Icon - Futurie Webflow Template" class="checkbox" />
                    <p class="product-feature-text">Full-day learning and care (morning &amp; afternoon)</p>
                  </div>
                  <div class="feature-item">
                    <img src="/cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a4ffe90739d2001fe1693f_check-icon.svg" loading="lazy" alt="Check Icon - Futurie Webflow Template" class="checkbox" />
                    <p class="product-feature-text">Balanced schedule of academics and play</p>
                  </div>
                  <div class="feature-item">
                    <img src="/cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a4ffe90739d2001fe1693f_check-icon.svg" loading="lazy" alt="Check Icon - Futurie Webflow Template" class="checkbox" />
                    <p class="product-feature-text">Nutritious meals and snacks included</p>
                  </div>
                  <div class="feature-item">
                    <img src="/cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a4ffe90739d2001fe1693f_check-icon.svg" loading="lazy" alt="Check Icon - Futurie Webflow Template" class="checkbox" />
                    <p class="product-feature-text">Nap and rest time for younger children</p>
                  </div>
                  <div class="feature-item">
                    <img src="/cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a4ffe90739d2001fe1693f_check-icon.svg" loading="lazy" alt="Check Icon - Futurie Webflow Template" class="checkbox" />
                    <p class="product-feature-text">Daily updates and progress reports for parents</p>
                  </div>
                </div>
                <div class="spacer-large"></div>
                <a href="product/full-day.html" class="button width-100 w-button">Learn More</a>
              </div>
            </div>
            <div role="listitem" class="w-dyn-item">
              <div class="product-content-wrapper">
                <img loading="lazy" data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D" src="/cdn.prod.website-files.com/67924c6f84a3338774896cd3/67a682416456448269260347_icon-01.webp" alt="" class="plan-icon" />
                <h2 class="product-title">Extended Care</h2>
                <div class="text-size-small">Designed for busy families who need extra care before or after regular school hours.</div>
                <div class="spacer-medium"></div>
                <div class="price-wrap">
                  <div class="price-text">$899</div>
                  <div class="text-size-small">/ month</div>
                </div>
                <div class="spacer-medium"></div>
                <div class="pricing-benefits-list">
                  <div class="feature-item">
                    <img src="/cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a4ffe90739d2001fe1693f_check-icon.svg" loading="lazy" alt="Check Icon - Futurie Webflow Template" class="checkbox" />
                    <p class="product-feature-text">Early drop-off and late pick-up options</p>
                  </div>
                  <div class="feature-item">
                    <img src="/cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a4ffe90739d2001fe1693f_check-icon.svg" loading="lazy" alt="Check Icon - Futurie Webflow Template" class="checkbox" />
                    <p class="product-feature-text">Additional enrichment activities and creative play</p>
                  </div>
                  <div class="feature-item">
                    <img src="/cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a4ffe90739d2001fe1693f_check-icon.svg" loading="lazy" alt="Check Icon - Futurie Webflow Template" class="checkbox" />
                    <p class="product-feature-text">Homework help and quiet reading time</p>
                  </div>
                  <div class="feature-item">
                    <img src="/cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a4ffe90739d2001fe1693f_check-icon.svg" loading="lazy" alt="Check Icon - Futurie Webflow Template" class="checkbox" />
                    <p class="product-feature-text">Extra outdoor and movement-based activities</p>
                  </div>
                  <div class="feature-item">
                    <img src="/cdn.prod.website-files.com/67924c6f84a3338774896ca8/67a4ffe90739d2001fe1693f_check-icon.svg" loading="lazy" alt="Check Icon - Futurie Webflow Template" class="checkbox" />
                    <p class="product-feature-text">Safe and supervised environment at all times</p>
                  </div>
                </div>
                <div class="spacer-large"></div>
                <a href="product/extended-care.html" class="button width-100 w-button">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="faq">
  <div class="padding-global">
    <div class="container-large">
      <div class="padding-section-large">
        <div class="max-width-large align-center">
          <div class="subtitle-item">
            <div class="subtitle-tag _02">FAQ</div>
          </div>
          <h2 class="heading-style-h2 text-align-center">
            Common 
            <span class="text-shape-h2 image-02-h2"></span>
            questions
          </h2>
          <div class="spacer-xlarge"></div>
          <div class="faq-container">
            <div data-w-id="e9119ba1-9f41-6a72-6fe4-f775d79c1124" class="accordion-content-item">
              <div class="accordion-top-wrap">
                <div class="accordion-title-item">
                  <h2 class="accordion-heading">What age groups do you accept?</h2>
                </div>
                <div class="plus-block">
                  <div class="plus-line"></div>
                  <div class="plus-line vertical"></div>
                </div>
              </div>
              <div class="accordion-content-wrap">
                <div class="accordion-content-block">
                  <p class="accordion-answer-text">We welcome children from 3 months to 6 years old, with age-appropriate programs tailored to their developmental needs.</p>
                </div>
              </div>
            </div>
            <div data-w-id="e9119ba1-9f41-6a72-6fe4-f775d79c1133" class="accordion-content-item">
              <div class="accordion-top-wrap">
                <div class="accordion-title-item">
                  <h2 class="accordion-heading">What are your school hours?</h2>
                </div>
                <div class="plus-block">
                  <div class="plus-line"></div>
                  <div class="plus-line vertical"></div>
                </div>
              </div>
              <div class="accordion-content-wrap">
                <div class="accordion-content-block">
                  <p class="accordion-answer-text">Our nursery operates from 8am to 5pm, Monday to Friday. We also offer early drop-off and late pick-up options for added flexibility.</p>
                </div>
              </div>
            </div>
            <div data-w-id="e9119ba1-9f41-6a72-6fe4-f775d79c1142" class="accordion-content-item">
              <div class="accordion-top-wrap">
                <div class="accordion-title-item">
                  <h2 class="accordion-heading">How do you ensure the safety of the children?</h2>
                </div>
                <div class="plus-block">
                  <div class="plus-line"></div>
                  <div class="plus-line vertical"></div>
                </div>
              </div>
              <div class="accordion-content-wrap">
                <div class="accordion-content-block">
                  <p class="accordion-answer-text">Safety is our top priority. We have secure entry systems, CCTV monitoring, trained staff in first aid, and a low student-teacher ratio to ensure close supervision at all times.</p>
                </div>
              </div>
            </div>
            <div data-w-id="e9119ba1-9f41-6a72-6fe4-f775d79c1151" class="accordion-content-item">
              <div class="accordion-top-wrap">
                <div class="accordion-title-item">
                  <h2 class="accordion-heading">Do you provide meals and snacks?</h2>
                </div>
                <div class="plus-block">
                  <div class="plus-line"></div>
                  <div class="plus-line vertical"></div>
                </div>
              </div>
              <div class="accordion-content-wrap">
                <div class="accordion-content-block">
                  <p class="accordion-answer-text">Yes, we offer healthy, balanced meals and snacks throughout the day. We also accommodate dietary restrictions and allergies to ensure every child’s needs are met.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
